/*  your css code here. If applicable */
.th, .td {
        border: 1px;
		border-color:solid rgb(0, 0, 0);
    }
.table{
	background-color: yellow;
	border: 1px;
	border-color: solid rgb(0, 0, 0);
}
